<!DOCTYPE html>
<html>
<head>
  <title>Cannonball</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/cannonball.css">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="/images/touch-icon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-retina.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@cannonballapp">
  <meta name="twitter:creator" content="@romainhuet">
  <meta name="twitter:title" content="Cannonball, the magnetic poetry game">
  <meta name="twitter:app:name:iphone" content="Cannonball">
  <meta name="twitter:app:id:iphone" content="929750075">
  <meta name="twitter:app:name:ipad" content="Cannonball">
  <meta name="twitter:app:id:ipad" content="929750075">
  <meta name="twitter:app:name:googleplay" content="Cannonball">
  <meta name="twitter:app:id:googleplay" content="io.fabric.samples.cannonball">
  <meta name="twitter:description" content="Cannonball is the fun way to create and share stories and poems on your phone. Cannonball was created to demo Digits and Fabric, the easiest way to build the best apps.">
  <meta name="twitter:image" content="http://cannonballapp.io/images/cannonball-twitter-card.png">
  <meta name="og:title" content="Cannonball, the magnetic poetry game">
  <meta name="og:description" content="Cannonball is the fun way to create and share stories and poems on your phone. Cannonball was created to demo Digits and Fabric, the easiest way to build the best apps.">
  <meta name="og:image" content="http://cannonballapp.io/images/cannonball-twitter-card.png">
</head>
<body>
  <div class="container">
    <main>
      <section class="cannonball">
        <header>
          <h1 class="logo bounce"><a href="/">Cannonball</a></h1>
          <h2><%= error.status %> <%= message %></h2>
        </header>
        <pre><%= error.stack %></pre>
      </section>
    </main>
  </div>
  <footer>
    <p>© 2015 Twitter &middot; Demo by <a href="https://twitter.com/romainhuet">Romain Huet</a> &middot; <a href="https://github.com/crashlytics/cannonball-web">Code on GitHub</a></p>
  </footer>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
  <script src="/javascripts/cannonball.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
