<!DOCTYPE html>
<html>
<head>
  <title>Cannonball</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/cannonball.css">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="/images/touch-icon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-retina.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@cannonballapp">
  <meta name="twitter:creator" content="@romainhuet">
  <meta name="twitter:title" content="Cannonball, the magnetic poetry game">
  <meta name="twitter:app:name:iphone" content="Cannonball">
  <meta name="twitter:app:id:iphone" content="929750075">
  <meta name="twitter:app:name:ipad" content="Cannonball">
  <meta name="twitter:app:id:ipad" content="929750075">
  <meta name="twitter:app:name:googleplay" content="Cannonball">
  <meta name="twitter:app:id:googleplay" content="io.fabric.samples.cannonball">
  <meta name="twitter:description" content="Cannonball is the fun way to create and share stories and poems on your phone. Cannonball was created to demo Digits and Fabric, the easiest way to build the best apps.">
  <meta name="twitter:image" content="http://cannonballapp.io/images/cannonball-twitter-card.png">
  <meta name="og:title" content="Cannonball, the magnetic poetry game">
  <meta name="og:description" content="Cannonball is the fun way to create and share stories and poems on your phone. Cannonball was created to demo Digits and Fabric, the easiest way to build the best apps.">
  <meta name="og:image" content="http://cannonballapp.io/images/cannonball-twitter-card.png">
</head>
<body>
  <div class="container">
    <main>
      <section class="cannonball">
        <header>
          <h1 class="logo bounce"><a href="/">Cannonball</a></h1>
          <h2>Cannonball is the fun way to create and share stories and poems on your phone.</h2>
        </header>
        <div class="digits">
          <button class="digits-button">Sign In with Phone</button>
          <p class="digits-note">This is a demo of <a href="http://get.digits.com/">Digits login for web</a>, <a href="https://github.com/crashlytics/cannonball-web">open source on GitHub</a>.<br>It does not store your phone number. Feel free to try it!<br>Download the apps below to check out the game.</p>
        </div>
        <div class="stores">
          <a class="app-store" href="https://itunes.apple.com/us/app/cannonball-magnetic-poetry/id929750075?mt=8">Get Cannonball iOS on the App Store</a>
          <a class="play-store" href="https://play.google.com/store/apps/details?id=io.fabric.samples.cannonball">Get Cannonball Android on the Play Store</a>
        </div>
      </section>
    </main>
    <section class="about">
      <h1>Cannonball for iOS and Android</h1>
      <p>Cannonball was created to demo <a href="https://digits.com/">Digits</a> and <a href="https://get.fabric.io/">Fabric</a>, the tools you need to build the best apps.</p>
      <p>Get started with Fabric by learning how we built this app with our <a href="http://docs.fabric.io/ios/examples/cannonball/"> Cannonball iOS Tutorial</a> and <a href="http://docs.fabric.io/android/examples/cannonball/">Cannonball Android Tutorial</a>.
      <div class="cannonball-ios"></div>
      <div class="cannonball-android"></div>
    </section>
    <section class="twitter">
      <h1>#CannonballApp on Twitter</h1>
      <p><a class="twitter-timeline" href="https://twitter.com/cannonballapp/timelines/621269036446433281" data-widget-id="621272394611716096" width="400">#CannonballApp</a></p>
      <p>
        <a href="https://twitter.com/fabric" class="twitter-follow-button" data-show-count="false">Follow @fabric</a>
        <a href="https://twitter.com/digits" class="twitter-follow-button" data-show-count="false">Follow @digits</a>
        <a href="https://twitter.com/TwitterDev" class="twitter-follow-button" data-show-count="false">Follow @TwitterDev</a>
      </p>
    </section>
  </div>
  <footer>
    <p>© 2017 Google &middot; Demo by <a href="https://twitter.com/romainhuet">Romain Huet</a> &middot; <a href="https://github.com/crashlytics/cannonball-web">Code on GitHub</a></p>
  </footer>
  <script>
    var config = {
      digitsConsumerKey: '<%= DIGITS_CONSUMER_KEY %>'
    };
  </script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
  <script src="/javascripts/cannonball.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <% if (GA_TRACKING_ID) { %>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= GA_TRACKING_ID %>']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% } %>
</body>
</html>
